@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-authentication {
    background-image: url('./assets/backgrounds/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 93vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    min-height: 100vh;
    /* display: grid; */
}

.swiper-pagination-bullet {
    background-color: white ;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

.text-control {
    font-size: 14px;
}

.h5{
    font-size: '1rem';
    color: #0A1029;
    font-family: 'Poppins', 'sans-serif';
    font-weight: '400';
}


.time-input::-webkit-calendar-picker-indicator {
    color: black;
  }
  
  
  .dark .time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  