@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-authentication {
    background-image: url('./assets/backgrounds/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 93vh;
}

.dark .bg-authentication {
    background-image: url('./assets/backgrounds/BackgroundDark.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    min-height: 100vh;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

.text-control {
    font-size: 14px;
}

.h5 {
    font-size: '1rem';
    color: #0a1029;
    font-weight: '400';
}

.time-input::-webkit-calendar-picker-indicator {
    color: black;
}

.dark .time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dark .input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invierte los colores del icono del calendario */
}

.swal-dark {
    background-color: #333;
    color: #fff;
}

.swal-dark .swal2-popup {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #444;
}

.swal-dark .swal2-title {
    color: #fff !important;
}

.swal-dark .swal2-icon.swal2-success,
.swal-dark .swal2-icon.swal2-error {
    border-color: #555 !important;
}

.swal-dark .swal2-confirm,
.swal-dark .swal2-cancel {
    background-color: #555;
    color: #fff;
    border: none;
}

.swal-dark .swal2-confirm:hover,
.swal-dark .swal2-cancel:hover {
    background-color: #666;
}
